<div class="container" id="i18_projects">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1><span data-i18n="projects.my_projects">My Projects</span></h1>
    </div>
  </div>

  {% for project in site.data.index.projects %}
  
  <div class="project-card">
  <div class="row project-item">
    <!-- 이미지 영역 -->
    <div class="col-md-6">
      <div class="project-wrapper">
        <a href="{{ project.url }}" target="_blank">
          <img src="{{ project.img | prepend: site.baseurl }}" 
               class="img-responsive project-img"
               alt="{{ project.name }}">
          <div class="overlay">
            <div class="overlay-text">클릭시 사이트로 이동합니다</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 설명 영역 -->
    <div class="col-md-6">
      <h3 class="navy" style="display: inline-block; margin-right: 10px;">{{ project.name }}</h3>
      <!-- GitHub 아이콘 -->
      {% if project.repo %}
        <a href="https://github.com/{{ project.gh_user }}/{{ project.repo }}" target="_blank" style="display: inline-block; vertical-align: middle;">
          <i class="fa-brands fa-github fa-2x"></i>
        </a>
      {% endif %}
      <div class="project-detail">{{ project.desc }}</div>
      
      <!-- 상세 설명 추가 -->
      {% if project.detail %}
      <div class="project-detail">
        {{ project.detail | markdownify }}
      </div>
      {% endif %}

      {% if project.detail2 %}
      <div class="project-detail2">
        {{ project.detail2 | markdownify }}
      </div>
      {% endif %}
      
    </div>
  </div>
  </div>
  <hr>
  {% endfor %}
</div>