<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center" id="i18_skills">
      <div class="navy-line"></div>
      <h1><span data-i18n="skills.my_skills">My Skills</span></h1>
    </div>
  </div>

  <div class="row features-block">
   <div class="row text-center">
  <!-- Front-End -->
  <div class="col-md-3">
    <div class="skill-card">
      <h4>Front-End</h4>
      <ul>
        <li><img src="/static/assets/img/skills/HTML5.png" alt="HTML5" style="width:20px; height:20px; margin-right:6px;"> HTML5</li>
        <li><img src="/static/assets/img/skills/CSS3.png" alt="CSS3" style="width:20px; height:20px; margin-right:6px;"> CSS3</li>
        <li><img src="/static/assets/img/skills/JavaScript.png" alt="JavaScript" style="width:20px; height:20px; margin-right:6px;"> JavaScript/jQuery</li>
        <li><img src="/static/assets/img/skills/Bootstrap.png" alt="Bootstrap" style="width:20px; height:20px; margin-right:6px;"> Bootstrap</li>
      </ul>
    </div>
  </div>

  <!-- Back-End -->
  <div class="col-md-3">
    <div class="skill-card">
      <h4>Back-End</h4>
      <ul>
        <li><img src="/static/assets/img/skills/Java.png" alt="Java" style="width:20px; height:20px; margin-right:6px;"> Java</li>
        <li><img src="/static/assets/img/skills/Java.png" alt="Java" style="width:20px; height:20px; margin-right:6px;"> JSP/JSTL</li>
        <li><img src="/static/assets/img/skills/Spring.png" alt="Spring" style="width:20px; height:20px; margin-right:6px;"> Spring/SpringBoot</li>
        <li><img src="/static/assets/img/skills/SpringSecurity.png" alt="SpringSecurity" style="width:20px; height:20px; margin-right:6px;"> Spring Security</li>
        <li><img src="/static/assets/img/skills/MyBatis.png" alt="MyBatis" style="width:20px; height:20px; margin-right:6px;"> MyBatis</li>
      </ul>
    </div>
  </div>

  <!-- Database -->
  <div class="col-md-3">
    <div class="skill-card">
      <h4>Database</h4>
      <ul>
        <li><img src="/static/assets/img/skills/MySQL.png" alt="MySQL" style="width:20px; height:20px; margin-right:6px;"> MySQL</li>
        <li><img src="/static/assets/img/skills/Oracle.png" alt="Oracle" style="width:20px; height:20px; margin-right:6px;"> OracleDB</li>
        <li><img src="/static/assets/img/skills/HeidiSQL.png" alt="HeidiSQL" style="width:20px; height:20px; margin-right:6px;"> HeidiSQL</li>
      </ul>
    </div>
  </div>

  <!-- Tool -->
  <div class="col-md-3">
    <div class="skill-card">
      <h4>Tool</h4>
      <ul>
        <li><img src="/static/assets/img/skills/GitHub.png" alt="GitHub" style="width:20px; height:20px; margin-right:6px;"> GitHub</li>
        <li><img src="/static/assets/img/skills/Eclipse.png" alt="Eclipse" style="width:20px; height:20px; margin-right:6px;"> Eclipse</li>
        <li><img src="/static/assets/img/skills/VSCode.png" alt="VSCode" style="width:20px; height:20px; margin-right:6px;">> VSCode</li>
        <li><img src="/static/assets/img/skills/Docker.png" alt="Docker" style="width:20px; height:20px; margin-right:6px;"> Docker</li>
        <li><img src="/static/assets/img/skills/AWS.png" alt="AWS" style="width:20px; height:20px; margin-right:6px;"> AWS(EC2, LightSail)</li>
      </ul>
    </div>
  </div>
</div>
    </div>
        <script>
        var ctx = document.getElementById("{{ site.data.index.skills.id }}");
        var data = {
            labels: "{{ site.data.index.skills.aspects }}".split(","),
            datasets: [{
                label: "{{ site.data.index.skills.label }}",
                backgroundColor: "rgba(179,181,198,0.2)",
                borderColor: "#3385FF",
                pointBackgroundColor: "#3385FF",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#3385FF",
                pointHoverBorderColor: "#3385FF",
                data: [{{ site.data.index.skills.percentage }}]
                }]
        };
        var myRadarChart = new Chart(ctx, {
            type: 'radar',
            data: data,
            options: {
                scale: {
                    responsive: true,
                    ticks: {min: 0, max: 100},
                    lineArc: false,
                    pointLabels: {fontSize: 14},
                },
                legend: {display: false},
            }
        });
        </script>
    </div>
</div>
